/app/bootstrap.php.cache
/app/config/parameters.yml
/build/
/vendor/
/bin/
/composer.phar
/app/logs/*
/app/cache/*
/web/thumbnails/*
/web/bundles/*
/web/css/*
/web/js/*
!app/logs/.gitkeep
!app/cache/.gitkeep
!/web/thumbnails/.gitkeep
!/web/bundles/.gitkeep
!/web/css/.gitkeep
!/web/js/.gitkeep
