/app/bootstrap.php.cache
/app/config/parameters.yml
/build/
/vendor/
/node_modules/
/composer.phar

/var/*
/var/cache/*
/var/logs/*
/var/sessions/*
/bin/*

/web/thumbnails/*
/web/bundles/*
/web/css/*
/web/js/*
/web/fonts/*
.php_cs.cache

!var/SymfonyRequirements.php
!var/logs/.gitkeep
!/var/sessions
!var/cache/.gitkeep
!var/sessions/.gitkeep
!/web/thumbnails/.gitkeep
!/web/bundles/.gitkeep
!/web/css/.gitkeep
!/web/js/.gitkeep
!/bin/console

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
