{% extends "OlryMentalNoteBundle::layout.empty.html.twig"%}

{% block content %}
<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <fieldset>
        <legend><i class="icon-bookmark large icon-fancy"></i> MentalNote: Login</legend>

        {% if error %}
            <fieldset class="form-group error">
                <span class="help-inline">{{ error|trans({}, 'FOSUserBundle') }}</span>
            </fieldset>
        {% endif %}
        
        <div class="form-group">
            <label class="control-label" for="username">username</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
        </div>
        
        <div class="form-group">
            <label for="password" class="control-label">password</label>
                <input type="password" class="form-control" id="password" name="_password" />
        </div>

        <div class="form-group">
            <label for="remember_me" class="control-label">&nbsp;</label>
                <label class="checkbox" for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    remember login
                </label>
        </div>

        <div class="pull-right">
            <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="sign in" />
        </div>

        <div class="clearfix">&nbsp;</div>
    </fieldset>
</form>
{% endblock content %}
    
