parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_name_testing:     symfony
    database_user:     root
    database_password: ~
    database_platform: 5.6

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            Ohthaechoosheekohngov2iepaothae5ahd5ya9kie

    session_memcache_host: localhost
    session_memcache_port: 11211
    session_memcache_prefix: mn_sess
    session_memcache_expire: 604800 # 1 week

