{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row card-deck entry-list">
                {% include "AppBundle:Entry:line.html.twig" with {delete_form: form} %}
            </div>
        </div>
    </div>

{% endblock %}
