{% extends "OlryMentalNoteBundle::layout.html.twig" %}

{% block content %}
    {% include "OlryMentalNoteBundle:Entry:line.html.twig" %}
{% endblock content %}

{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-body">
            Do you really want to delete this entry?
            <form class="form form-inline top" action="{{ path('entry_delete', {id: entry.id, filter: filter}) }}" method="post">
            {{ form_widget(form) }}
            <div class="pull-right">
                <input type="submit" class="btn btn-danger" value="Yes" />
                <a href="{{ path('homepage', {filter: filter}) }}" class="btn">Cancel</a>
            </div>
            </form>
        </div>
    </div>
{% endblock sidebar %}
