mysql_root_password: root

mysql_databases:
- name: mental
  encoding: utf8
  collation: utf8_general_ci

mysql_users:
- name: mental
  host: "%"
  password: mental
  priv: "mental.*:ALL"

nginx_vhosts:
- listen: "443 ssl http2"
  server_name: "mental.www"
  root: "/srv/www/web"
  index: "app_dev.php"
  state: "present"
  template: "{{ nginx_vhost_template }}"
  filename: "mental.www.conf"
  extra_parameters: |
    location / {
          try_files $uri /app.php$is_args$args;
    }
    location ~ ^/(app_dev|config)\.php(/|$) {
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
        include fastcgi_params;
    }
    location ~ \.php$ {
        return 404;
    }
    ssl_certificate     /etc/ssl/certs/ssl-cert-snakeoil.pem;
    ssl_certificate_key /etc/ssl/private/ssl-cert-snakeoil.key;
    ssl_protocols       TLSv1.1 TLSv1.2;
    ssl_ciphers         HIGH:!aNULL:!MD5;

php_packages_state: "latest"
php_webserver_daemon: "nginx"
php_version: "7.2"
php_default_version_debian: "7.2"
php_enable_php_fpm: true
php_memory_limit: "128M"
php_max_execution_time: "90"
php_upload_max_filesize: "256M"
php_packages:
- php
- php-fpm
- php-cli
- php-common
- php-gd
- php-mbstring
- php-pdo
- php-xml
- php-mysql
- php-apcu
- php-curl
- php-memcached
- php-zip
