<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {%block title%}Smarter Bookmarks{%endblock%}:: MentalNote</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript">
            var mentalNote = {
                route: {
                    url_metainfo: '{{ path('url_metainfo') }}',
                    tag_search: '{{ path('tag_search') }}'
                }
            }
        </script>

        <link rel="stylesheet" href="{{ asset('css/all.min.css') }}" />

    </head>

    <body>

    <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4">
            <div class="well">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="{{ asset('js/all.min.js') }}"></script>

</body>
</html>
