{% extends "OlryMentalNoteBundle::layout.html.twig" %}

{% block filter %}
    {{ render(controller('OlryMentalNoteBundle:Default:sidebar', { "filter": app.request.get('filter') })) }}
{% endblock %}

{% block content %}
    <div class="row card-deck entry-list">
        {% for entry in pager %}
            {% include "OlryMentalNoteBundle:Entry:line.html.twig" with {show_actions: true} %}
        {% endfor %}
        <div class="justify-content-center">
            {{ pager.haveToPaginate() ? pagerfanta(pager, 'twitter_bootstrap4', { pageParameter: "[filter][page]" }) : '' }}
        </div>
    </div>
{% endblock %}
