{% extends "OlryMentalNoteBundle::layout.html.twig" %}

{% block sidebar %}
{% render(controller('OlryMentalNoteBundle:Default:sidebar', { "filter": app.request.get('filter') })) %}
{% endblock sidebar %}

{% block content %}

<div class="nav pull-right">
    <a href="{{ path('entry_create') }}" class="modal-ajax-form btn btn-primary"><i class="icon-plus"></i> add link</a>
</div>

{{ pager.haveToPaginate() ? pagerfanta(pager, 'twitter_bootstrap3_translated', { pageParameter: "[filter][page]", proximity: 2 }) : '' }}

<div class="entry-list">
{% set lastAge = '' %}
{% for entry in pager %}
    {% if lastAge != entry.age %}
    {% set lastAge = entry.age %}
    <h4>{{ entry.age }}</h4>
    {% endif %}
    {% include "OlryMentalNoteBundle:Entry:line.html.twig" with {show_actions: true} %}
{% endfor %}
</div>

{{ pager.haveToPaginate() ? pagerfanta(pager, 'twitter_bootstrap3_translated', { pageParameter: "[filter][page]" }) : '' }}

{% endblock content %}
