{% extends "OlryMentalNoteBundle::layout.html.twig" %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{{ path('homepage') }}">{% trans %}all entries{% endtrans %}</a> <span class="divider">/</span></li>
</ul>
{% endblock breadcrumb %}

{% block sidebar %}
SIDEBAR
{% endblock sidebar %}

{% block content %}
CONTENT
{% endblock content %}

