{% extends "OlryMentalNoteBundle::layout.html.twig" %}

{% block sidebar %}{% endblock sidebar %}

{% block content_full_width %}
    <div class="entry-list">
        {% for entry in pager %}
            {% include "OlryMentalNoteBundle:Entry:card.html.twig" with {show_actions: true} %}
        {% endfor %}
    </div>
{% endblock content_full_width %}

