{% extends "OlryMentalNoteBundle::layout.html.twig" %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{{ path('homepage') }}">all entries</a> <span class="divider">/</span></li>
</ul>
{% endblock breadcrumb %}

{% block tabs %}
TAB
{% endblock tabs %}

{% block sidebar %}
SIDEBAR
{% endblock sidebar %}

{% block content %}
CONTENT
{% endblock content %}

